body {
  /* background-image: url(https://firebasestorage.googleapis.com/v0/b/historyguessr.appspot.com/o/images%2Fstackedwaves.svg?alt=media&token=70f2cb8f-2379-46bb-a0f3-12346b34171c); */
  background-image: url("./images/hgbackgroundbigbig.svg");
  background-color: black;
}
